[core]
  excludesfile = ~/.gitignore
[alias]
	permission-reset = !git diff -p -R | grep -E \"^(diff|(old|new) mode)\" | git apply
	aliases = "!f(){ git config --get-regexp '^alias\\.' | sed -e 's/^alias\\.//' -e 's/ / = /'; }; f"
	graph = log --oneline --decorate --all --graph
	sdiff = diff --ignore-space-at-eol -b -w --ignore-blank-lines
	hide = update-index --assume-unchanged
	unhide = update-index --no-assume-unchanged
	hidden = "!f(){ git -C \"$GIT_PREFIX\" ls-files -v \"${@:-$PWD}\" | grep \"^[[:lower:]]\"; }; f"
	ignored = "!f(){ git -C \"$GIT_PREFIX\" status --short --ignored \"$@\" | grep \"^!!\"; }; f"
[push]
	default = simple
[pull]
	ff = only
[credential]
	helper = /usr/share/git/credential/gnome-keyring/git-credential-gnome-keyring
[user]
	email = superjun1@gmail.com
	name = Jeremiah Menétrey
[log]
	abbrevCommit = true
[diff]
	noprefix = true
	wsErrorHighlight = all
[diff "archive"]
	# Assumes 7zip is installed
	textconv = 7z -so e
	binary = true
