[core]
  excludesfile = ~/.gitignore
[alias]
	permission-reset = !git diff -p -R | grep -E \"^(diff|(old|new) mode)\" | git apply
	la = log --oneline --decorate --all --graph
[push]
	default = simple
[pull]
	ff = only
[credential]
	helper = /usr/share/git/credential/gnome-keyring/git-credential-gnome-keyring
[user]
	email = superjun1@gmail.com
	name = Jeremiah Menétrey
[log]
	abbrevCommit = true
[diff "archive"]
	# Assumes 7zip is installed
	textconv = 7z -so e
	binary = true
